<div
  id="alubumCarousel"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel"
>
  <h1 class="text-center mt-5">Album Carousel</h1>
  <div
    class="carousel-indicators"
    *ngFor="let product of products; let i = index"
  >
    <button
      type="button"
      data-bs-target="#alubumCarousel"
      [attr.data-bs-slide-to]="i"
      [class.active]="i == 0"
      [attr.aria-current]="CheckAriacurrent(i)"
      [attr.aria-label]="'Slide' + i"
    ></button>
  </div>

  <div class="carousel-inner">
    <div
      *ngFor="let product of products; let i = index"
      class="carousel-item"
      [class.active]="i == 0"
      data-bs-interval="10000"
    >
      <div class="imageContainer">
        <img [src]="product.image" class="d-block w-100" [alt]="product.name" />
      </div>
      <div class="carousel-caption">
        <button routerLink="products" class="btn btn-primary">
          SEE PRODUCTS
        </button>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#alubumCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previou1s</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#alubumCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
